<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeepBelief.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DeepBeliefFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>OSXDeepBelief.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>OSXDeepBeliefTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>glgemm_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>jpcnn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>jpcnn_ios copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>jpcnn_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libjpcnn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libjpcnn_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>592FF81418ECB34F00C164F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>592FF82118ECB34F00C164F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>592FF86518ECBCE500C164F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>592FF8F818ECBF5E00C164F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>594BBA811886FE89007F9A2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>594BBAA41886FE8A007F9A2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59602FAB18C158C100D6EEE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5962AD7F188A0987009E64DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5962ADA2188A16E1009E64DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5962ADAF188A16E1009E64DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5962ADE4188A1E26009E64DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5962ADF1188A1E26009E64DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59CC3B721912D18B0046B191</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59CC3B871912D18B0046B191</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59D2FBB6187F8D2A00427417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
